/* Profile.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 90%; /* Increase card size */
  max-width: 800px; /* Maximum card width */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Make card edges round */
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  padding: 2rem;
}

.card-image {
  flex: 1;
  margin-bottom: 1rem;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-title {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #0077b6; /* Change the color of the title to blue */
}


.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.form-group {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
  font-weight: bold; /* Make the font bold */
  font-family: Arial, sans-serif; /* Change the font family */
 

}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.3s;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

