.about-container {
  text-align: center;
  padding: 50px;
  background-color: white; /* Set background color to white */
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.image-container {
  flex: 1;
  margin-right: 20px; /* Add margin for spacing */
}

.image-container img {
  width: 50%; /* Make the image cover the entire width */
  height: 400%; /* Maintain aspect ratio */
}

.text-container {
  flex: 1;
}

.text-container p {
  font-weight: bold; /* Make the text bold */
}

.animation-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* CSS animations */
.circle1, .circle2, .circle3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: bounce 2s infinite alternate;
  margin: 0 20px;
}

.circle1 {
  background-color: #3498db;
}

.circle2 {
  background-color: #0f3b58;
}

.circle3 {
  background-color: #9534db;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(20px); }
}


